#posts-list{
  width: 520px;
}


.posts {
  position: relative;
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  width: max-content;
  height: max-content;
  margin: 20px;
  padding: 10px;
}

.comment-list {
  list-style-type: none;
  list-style: none;
  padding: 0;
}

.each-comment {
  margin: 30px 0;
  text-align: left;
}

.addComment-div {
  text-align: left;
}

.post-img {
  height: 420px;
}

.head {
  width: auto;
  height: 50px;
  /* border: solid 1px; */
  margin-bottom: 10px !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.thumbnail {
  margin: 5px;
  border-radius: 100%;
  /* border: solid 2px; */
  height: 40px;
  width: 40px;
}

.author {
  /* border: solid 2px; */
  width: max-content;
  height: 30px;
  margin-left: 10px;
}

.post-element {
  text-align: left;
  margin: auto;
}

.comment-btn {
  padding: 0;
  text-align: left;
  color: gray;
}

.post-react {
  margin: 0 5px;
  font-size: 25px;
  cursor: pointer;
}

.post-react:hover {
  color: gray;
}

.fa-heart.post-react:hover {
  color: rgb(255, 0, 76);
}

.fa-bookmark.post-react {
  float: right;
  position: absolute;
  right: 0;
  margin-right: 20px;
}

.view-comment {
  color: gray;
  cursor: pointer;
}

.fa-user-large {
  margin: 0 5px;
}

.user-div {
  width: fit-content;
  border: solid 2px;
  border-radius: 100%;
  float: left;
  margin: 0 5px;
}

.add-comment {
  display: flex;
  height: 40px;
  width: inherit;
  justify-content: center;
}

.add-comment button {
  height: inherit;
  border: solid 1px gray;
}

.add-comment input {
  height: 40px;
  width: 350px;
}
