#home-div {
  margin-top: 60px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
}

#profile-div {
  width: max-content;
  height: 400px;
  float: right;
  margin: 20px;
  right: 310px;
  position: fixed;
  /* border: solid 1px lightgray; */
  padding: 5px;
  /* box-shadow: 2px 3px lightgray; */
}

.profile-head {
  margin-top: 10px;
  width: 260px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* box-shadow: 3px 3px #888888; */
  /* box-shadow: 3px 3px 3px 3px #888888; */
  border: solid 1px lightgray;
  box-shadow: 2px 3px lightgray;
}

.userimg-div {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 5px;
  float: left;
}

.suggestion-div{
  height: 500px;
  text-align: left;
  /* overflow-y: scroll; */
  /* scrollbar-width: none; */
}

.suggestion-div span{
  font-size: 20px;
  color: rgb(134, 134, 134);
}

.user-img {
  width: 50px;
  height: 50px;
}

.user-name {
  display: flex;
  align-items: center;
  text-align: left;
  float: right;
  width: 150px;
  height: 50px;
  margin-left: 10px;
}

h6.user-mail{
    margin: 0!important;
    font-weight: bold;
    }

span.user-mail{
font-size: 10px;
}

.sug-img{
  width: 40px;
  float: left;
}

.sug-name{
  
  width: 180px;
  float: right;
  text-align: left;
  /* display: flex; */
  margin: 0 10px;
  align-items: center;
}

.sug-name div{

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sug-mail{
  
  margin: 0;
}

span.sug-mail{
  
  font-size: small;
}

.userimg-sug{
  /* float: left; */
}

.profile-sug{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px 0;
}







